.container {
  border: 1px solid gray;
  padding: 15px;
  margin: 0 auto;
}
.container h1 {
  background-color: gray;
  padding: 15px;
}
.container p {
  background-color: lightgray;
  padding: 15px;
}
.container footer {
  background-color: yellow;
  padding: 15px;
}
@media(max-width: 480px) {
  .container {
    width: 350px;
  }
}

@media(min-width: 481px) {
  .container {
    width: 450px;
  }
}

@media(min-width: 1024px) {
  .container {
    width: 970px;
  }
}